# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
*.tfvars.local

# Azure ML
.azureml/
.azure-local/
outputs/
logs/
mlruns/
mlflow.db

# Misc
.DS_Store
*.log
*.tmp
.pytest_cache/

# Admin notes (ne pas pousser)
lab/partie0_admin.md
users/